extends layout

block content
  h1 #{title}

  form(method='POST' action='/messages')
    div.form-group

      label(for='text') Message:
      input#name.form-control(type='text', placeholder='message' name='message' value=(undefined===message ? '' : message))
      
      label(for='username') Username:
      input#name.form-control(type='text', placeholder='username' name='username' value=(undefined===username ? '' : username))
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
